[% META title = 'Flag' -%]
[% flag = entry %]

<h1>Flag</h1>

<p>
<label>ID:</label> [% flag.pk %]<br>
<label>Name:</label> [% flag.name %]<br>
<label>Description:</label> [% flag.description %]<br>
<label>Status:</label> [% flag.status.name %]<br>
</p>

<p><a href="[% Catalyst.uri_for(Catalyst.controller('Directory::Flags').action_for('edit'), [flag.pk]) | html %]">Edit</a><br>
<a href="[% Catalyst.uri_for(Catalyst.controller('Directory::Flags').action_for('list')) | html %]">Flags...</a></p>