[% META title = 'Post' -%]

<h1>Post</h1>

<p>
<label>ID:</label> [% post.pk %]<br>
<label>Name:</label> [% post.name %]<br>
<label>Description:</label> [% post.description %]<br>
<label>Status:</label> [% post.status.name %]<br>
</p>

<p><a href="[% Catalyst.uri_for(Catalyst.controller('Posts').action_for('edit'), [post.pk]) | html %]">Edit</a><br>
<a href="[% Catalyst.uri_for(Catalyst.controller('Posts').action_for('list')) | html %]">Posts...</a></p>