<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
    	<title>[% template.title or site.title %]</title>
    	<style type='text/css'>
      	       [% PROCESS ttsite.css %]
    	</style>
    </head>
    <body>
	[% content %]
    </body>
</html>